backports-abc==0.5
certifi==2016.9.26
pyley==0.1.2
-e git+https://github.com/sugarush/python-cayley.git@a0c56cc0c168ed624d91426d0dc5e788e9a9a3a7#egg=python_cayley
requests==2.12.4
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
